<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>

        <environment include="Development">
            <!--se ejecutan al depurar-->
            <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/resume.css" />

            <!-- Custom fonts for this template -->
            <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
            <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
            <link href="~/lib/devicons/css/devicons.min.css" rel="stylesheet">
            <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
        </environment>
        <environment exclude="Development">
            <!--se ejecutan al Stagin o Produccion-->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="@Url.Content("~/css/resume.min.css")" asp-append-version="true" />

            <!-- Custom fonts for this template -->
            <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
            <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
            <link href="~/lib/devicons/css/devicons.min.css" rel="stylesheet">
            <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">


        </environment>
    </head>
    <body>

    <div class="container body-content">
        @RenderBody()

        <footer></footer>
    </div>

    <environment include="Development">
        <!--se ejecutan al depurar-->
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/resume.js" asp-append-version="true"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/resume.min.js"></script>
    </environment>

    <environment exclude="Development">
       <!--se ejecutan al depurar-->
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/resume.js" asp-append-version="true"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="js/resume.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    </body>
</html>
